{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
    <div class="well span5 offset1">
        <form class="form-horizontal" method="post" action=".">
            <legend>Login</legend>
            {% csrf_token %}

            <!-- MESSAGES -->
            {% if form.errors %}
                <div class="alert alert-block alert-error fade in">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4 class="alert-heading">Login Error</h4>
                    <p>Your username and password didn't match, please try again.</p>
                </div>
            {% endif %}

            <div class="control-group">
                <label for="id_username" class="control-label">{{ form.username.label_tag }}</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-user"></i></span>
                        {{ form.username }}
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label for="id_password" class="control-label">{{ form.password.label_tag }}</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-lock"></i></span>
                        {{ form.password }}
                    </div>
                </div>
            </div>
            
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% else %}
                <input type="hidden" name="next" value="/" />
            {% endif %}

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-success">Login <i class="icon-circle-arrow-right"></i></button>
                </div>
            </div>            
        </form>
        <p class="muted"><small>If you don't have an account, you can <a href="/accounts/register/">signup</a> for one.</small>
    </div>

    <!-- TODO -->
    <div class="well span5">
        <form class="form-horizontal" method="post">
            <legend>Or use a service</legend>
            <ul>        
                {% for name in social_auth.backends %}
                    <li><a rel="nofollow" href="{% url socialauth_begin name %}">{{ name|title }}</a></li>
                {% endfor %}
            </ul>
        </form>
    </div>
{% endblock %}
