{% extends "base.html" %}
{% load i18n %}
{% block title %}Change Password{% endblock %}

{% block pagetitle %}Change Your Password{% endblock %}
{% block pagesubtitle %}{{ user.username }}{% endblock %}


{% block content %}
{% url app_users.user_edit user.username as url_submit %}
{% url app_users.user_settings user.username as url_cancel %}

<div class="well span6 offset2">
	<h5>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly</h5>
	<form class="form-horizontal" method="post" action=".">
		{% csrf_token %}

		
		{% if form.old_password.errors %}
	    	<div class="alert alert-block alert-error fade in">
				<button type="button" class="close" data-dismiss="alert">×</button>
				Old Password
				<ul>
	                {% for error in form.old_password.errors %}
						<li><strong>{{ error|escape }}</strong></li>
	                {% endfor %}
	            </ul>
	        </div>
	    {% endif %}
	    <div class="control-group">
	        <label class="control-label" for="id_old_password">
	        	Old Password:
	        	<p class="inline text-error"><strong>*</strong></p>
	        </label>
	        <div class="controls">
	            <div class="input-prepend">
	                {{ form.old_password }}
	            </div>
			</div>
		</div>

		{% if form.new_password1.errors %}
	        <div class="alert alert-block alert-error fade in">
	            <button type="button" class="close" data-dismiss="alert">×</button>
	            New Password
	            <ul>
	                {% for error in form.new_password1.errors %}
	                    <li><strong>{{ error|escape }}</strong></li>
	                {% endfor %}
	            </ul>
	        </div>
	    {% endif %}
	    <div class="control-group">
	        <label class="control-label" for="id_new_password1">
	        	New Password:
	        	<p class="inline text-error"><strong>*</strong></p>
	        </label>
	        <div class="controls">
	            <div class="input-prepend">
	                {{ form.new_password1 }}
	            </div>
			</div>
		</div>

		{% if form.new_password2.errors %}
	        <div class="alert alert-block alert-error fade in">
	            <button type="button" class="close" data-dismiss="alert">×</button>
	            Confirm Password
	            <ul>
	                {% for error in form.new_password2.errors %}
	                    <li><strong>{{ error|escape }}</strong></li>
	                {% endfor %}
	            </ul>
	        </div>
	    {% endif %}
	    <div class="control-group">
	        <label class="control-label" for="id_new_password2">
	        	Confirm Password:
	        	<p class="inline text-error"><strong>*</strong></p>
	        </label>
	        <div class="controls">
	            <div class="input-prepend">
	                {{ form.new_password2 }}
	            </div>
			</div>
		</div>
        
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success">Confirm <i class="icon-circle-arrow-right"></i></button>
                <a class="btn btn-danger" href="{{ url_cancel }}"><i class="icon-remove"></i> Cancel</i></a>
            </div>
        </div>
        
        </form>
    </div>
{% endblock %}
